* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  color: #606060;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
  padding: 12px 24px;
  background-color: white;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: auto;
  padding: 18px 14px 18px 28px;
}

.search {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

.search-form {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-input {
  width: 80%;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 3px;
  margin-left: 10px;
  font-size: 1.125rem;
}

.navbar-btn {
  border: none;
  outline: none;
  background-color: white;
}

.navbar-btn img {
  width: 20px;
}

.navbar-btn:hover {
  cursor: pointer;
}

.search-submit {
  border-left: 1px solid #ccc;
  padding: 10px 25px;
  background-color: #f1f1f1;
}

.navbar-btn-mic {
  background-color: #f1f1f1;
  height: 42px;
  width: 42px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}

.navbar-btn-mic img {
  width: 20px;
}

.navbar-btn-settings {
  margin: 0 20px 0 30px;
}

.navbar-btn-settings img {
  height: 30px;
}

.navbar-sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #065fd4;
  border-radius: 2px;
  background-color: white;
  padding: 8px 10px;
  color: #065fd4;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-sign-in img {
  width: 25px;
  margin-right: 10px;
}

.navbar-sign-in:hover {
  cursor: pointer;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 24px 60px;
}

.video {
  border: 1px solid black;
  width: 68%;
}

.video-main {
  width: 100%;
  height: 540px;
  border: 0px;
}

.video-details {
  margin: 30px 0 0 0;
  border-bottom: 1px solid #ccc;
}

.video-title {
  font-weight: 400;
  color: #030303;
  font-size: 1.125rem;
}

.video-stats {
  margin: 5px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-text::after {
  content: ".";
  margin: 0 4px;
  font-size: 2rem;
  position: relative;
  top: -3px;
}

.video-stats-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
}

.video-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 24px;
  color: #030303;
}

.video-icon img {
  width: 22px;
  margin-right: 5px;
}

.video-icon:hover {
  cursor: pointer;
}

.channel {
  margin: 20px 0 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.channel-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.channel-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.channel-img {
  border-radius: 50px;
}

.channel-name {
  font-weight: 500;
  font-size: 1rem;
  margin-left: 20px;
  color: #030303;
}

.channel-btn {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.0625rem;
  background-color: #c00;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
}

.channel-btn:hover {
  cursor: pointer;
}

.channel-desc {
  margin-left: 68px;
  width: 60%;
  color: #030303;
}

.channel-show-more {
  text-transform: uppercase;
  display: block;
  margin-top: 30px;
  font-size: 0.9125rem;
  font-weight: 500;
  color: #606060;
  margin-left: 68px;
  border: none;
  background-color: transparent;
}

.channel-show-more:hover {
  cursor: pointer;
}

.comments {
  margin: 0 0 50px;
}

.comments-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.comments-caption {
  font-weight: 400;
  margin-right: 40px;
}

.comments-sort {
  color: #030303;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.95rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments-sort img {
  width: 25px;
  margin-right: 8px;
}

.comments-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
}

.comments-img {
  border-radius: 50%;
  margin-right: 20px;
}

.comments-text-input {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.comments-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
}

.comments-name {
  margin-bottom: 10px;
  color: #030303;
  font-weight: 500;
}

.comments-name span {
  font-weight: 400;
  color: #606060;
  margin-left: 7px;
}

.comments-text {
  line-height: 1.4;
}

.comments-engagement {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.comments-engagement-text {
  margin-right: 25px;
}

.comments-engagement-text img {
  width: 15px;
  margin-right: 10px;
}

.comments-engagement-text:hover {
  cursor: pointer;
}

.side {
  border: 2px solid yellow;
  width: 30%;
}

.article-1 {
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
